.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

/* App.css */
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensure the background is behind other content */
}

/* Ensure content is above the animated background */
.App {
  position: relative;
  z-index: 1;
}

/* ABOUT ME PAGE */
#about-me {
  background-color: #e9ecef;
  display: flex;
}

/* LEFT CONTENT */
.left-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items at the top */
}

.profile-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  align-self: center;
  margin-top: 15%;
}

.aboutme-header {
  padding-left: 20%;
}

.about-section {
  padding-left: 20%;
}

.experience-header {
  padding-left: 20%;
}

.experience-section {
  padding-left: 20%;
}

.travel-header {
  position: absolute;
  top: 101%;
  left: 69%;
}

/* RIGHT CONTENT */
.right-content {
  width: 50%;
  display: flex;
  align-items: center; /* Centers map vertically */
  justify-content: center; /* Centers map horizontally */
}

/* MAP CONTAINER */
.map-container {
  width: 500px; /* Fixed width */
  height: 750px; /* Fixed height */
  display: flex;
  align-items: center; /* Centers map vertically */
  justify-content: center; /* Centers map horizontally */
  border: solid 2px #00FFD9;
  box-shadow: 5px 5px 40px gray;
}

/* Ensure the map fills its container */
.map-container .leaflet-container {
  width: 100%; /* Make sure the map fills its container */
  height: 100%; /* Make sure the map fills its container */
}

#work-projects {
  background-color: #dee2e6;
}

#skills {
  background-color: #ced4da;
}

#contact-me {
  background-color: #adb5bd;
}
