/* .App {
  text-align: center;
} */

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

/* Optional: Add different background colors for each section for visual distinction */

/* OVERVIEW PAGE */

.intro {
  position: absolute;
  left: 20%;
  top: 24%;
}

.my-name {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 50px;
}

.job-title {
  position: absolute;
  left: 20%;
  top: 35%;
}

.nav-buttons {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Centers the buttons horizontally */
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  border-radius: 20px;
}

.nav-buttons button {
  background-color: #f8f9fa;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  border-radius: 20px;
}

.nav-buttons button:hover {
  background-color: #00FFD9;
  color: #f8f9fa;
  transition: 0.3s ease;
}

.text-content {
  margin-top: 100px; /* Adjust based on your layout needs */
}

#overview {
  background-color: #f8f9fa;
}

#about-me {
  background-color: #e9ecef;
}

#work-projects {
  background-color: #dee2e6;
}

#skills {
  background-color: #ced4da;
}

#contact-me {
  background-color: #adb5bd;
}
