.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

/* Optional: Add different background colors for each section for visual distinction */

/* OVERVIEW PAGE */

.intro {
  position: absolute;
  left: 20%;
  top: 24%;
  color: #00FFD9;
}

.my-name {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 50px;
  color: #00FFD9;
}

.job-title {
  position: absolute;
  left: 20%;
  top: 35%;
  color: #00FFD9;
}

.nav-buttons {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Centers the buttons horizontally */
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  border-radius: 20px;
}

.nav-buttons button {
  background-color: #1e1f1f;
  color: #00FFD9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  border-radius: 20px;
}

.nav-buttons button:hover {
  background-color: #00FFD9;
  color: #1e1f1f;
  transition: 0.3s ease;
}

.text-content {
  margin-top: 100px; /* Adjust based on your layout needs */
}

.contact-btn {
  display: inline-block;
  background-color: #00FFD9;
  color: #1e1f1f;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  left: 20%;
  top: 41%;
  border-radius: 10px;
}

.contact-btn:hover {
  background-color: #319989; /* Darker shade on hover */
}

#overview {
  background-color: #1e1f1f;
}

/* ABOUT ME PAGE */
#about-me {
  background-color: #e9ecef;
  display: flex;
}

/* LEFT CONTENT */
.left-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items at the top */
}

.profile-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  align-self: center;
  margin-top: 15%;
}

.aboutme-header {
  padding-left: 20%;
}

.about-section {
  padding-left: 20%;
}

.experience-header {
  padding-left: 20%;
}

.experience-section {
  padding-left: 20%;
}

.travel-header {
  position: absolute;
  top: 101%;
  left: 69%;
}

/* RIGHT CONTENT */
.right-content {
  width: 50%;
  display: flex;
  align-items: center; /* Centers map vertically */
  justify-content: center; /* Centers map horizontally */
}

/* MAP CONTAINER */
.map-container {
  width: 500px; /* Fixed width */
  height: 750px; /* Fixed height */
  display: flex;
  align-items: center; /* Centers map vertically */
  justify-content: center; /* Centers map horizontally */
  border: solid 2px #00FFD9;
  box-shadow: 5px 5px 40px gray;
}

/* Ensure the map fills its container */
.map-container .leaflet-container {
  width: 100%; /* Make sure the map fills its container */
  height: 100%; /* Make sure the map fills its container */
}

#work-projects {
  background-color: #dee2e6;
}

#skills {
  background-color: #ced4da;
}

#contact-me {
  background-color: #adb5bd;
}
